<!DOCTYPE html>
<html>
<!--- Header information about the page -->
<body>
	<div layout:fragment="content">
		<script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
		<script>
			/* Without these comments, Thymeleaf will try to parse the Javascript as XML and break itself sometimes */
			/*<![CDATA[*/ 
			var app = angular.module('myApp', []);
			app.controller('populateCtrl', function($scope, $http, $q) {

				/* Logic that handles controlling your page goes here */
				$scope.myFunction = function() {
					alert("You entered in " + $scope.x);
				};
				
				$scope.alterTwo = function(a, b) {
					return (5 * a) + Number(b);
				};
				
				$scope.timeIntervals = [
					{value: 1, display: 'Daily'},
					{value: 2, display: 'Weekly'},
					{value: 3, display: 'Monthly'},
					{value: 4, display: 'Annual'}
				];
				
				$scope.branches = ["development", "frontend-data-entry", "backend", "developmentT2", 
					"developmentT1", "main", "kpresle-test", "kpresle-test-2", "frontend-display"];

				$scope.commitData = {
			        "Kai Presler-Marshall (kpresle@ncsu.edu)":
			            [
			                { "count": 0, "display": "01/03/2020 00:00", "timestamp": 1583038800000 },
			                { "count": 0, "display": "03/03/2020 00:00", "timestamp": 1583211600000 }
			            ],
			        "Sara Ghodsi (sghodsi@ncsu.edu)":
			            [
			                { "count": 0, "display": "01/03/2020 00:00", "timestamp": 1583038800000 },
			                { "count": 0, "display": "03/03/2020 00:00", "timestamp": 1583211600000 },
			                { "count": 0, "display": "05/03/2020 00:00", "timestamp": 1583384400000 }
			            ]
			    };
				
			});
			
			/* Without these comments, Thymeleaf will try to parse the Javascript as XML and break itself sometimes */
			/*]]>*/
		</script>

		<div ng-app="myApp" ng-controller="populateCtrl">

			<!--- Various HTML elements, with extra tags telling Angular how to work with them, go here -->
			<button ng-click="myFunction()">Click Me!</button>
			<input type="text" ng-model="x" required="true" />
			<input type="text" ng-model="y" required="true" />
			
		
			The result is {{alterTwo(x, y)}} <!-- the { and } are spread out here for display. In practice,
                                 there are not spaces between the two { before and the two } after
                                 the expression -->
	         <div class="col-sm">
					Select time interval: <br />
					<select ng-model="interval"
									ng-options="item as item.display for item in timeIntervals"
										required="true">
								<option value="">Select time interval for viewing data</option>
					</select>
			</div>   
			
			<div class="col-sm">
					(Optional) Select the branches to view <br />
					<div ng-repeat="branch in branches track by $index">
							<input type="checkbox"
									ng-model="$parent.selectedBranches[branch]">
							<tt> {{branch}}</tt> <!-- remove the extra spaces -->
							</input>
					</div>
			</div>
			
			
			<div ng-repeat="(user, commits) in commitData track by $index">
				Commits for {{user}}:<br />
				<div id="{{user}}">
					<li ng-repeat="commit in commits">{{commit.display}}</li>
				</div>
			</div>
			
		
		</div>
		
	</div>

</body>
</html>